<!DOCTYPE html>
<html>

<head>
    <title>Driver Drowsiness Detection</title>
</head>

<body>

    <h2>Driver Drowsiness Detection</h2>

    <video id="video" width="400" height="300" autoplay></video>
    <br><br>

    <button onclick="capture()">Predict</button>

    <br><br>

    <canvas id="canvas" width="224" height="224" style="display:none;"></canvas>

    <h3 id="result"></h3>

    <script>

        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                document.getElementById("video").srcObject = stream;
            });

        function capture() {

            let video = document.getElementById("video");
            let canvas = document.getElementById("canvas");
            let ctx = canvas.getContext("2d");

            ctx.drawImage(video, 0, 0, 224, 224);

            canvas.toBlob(function (blob) {

                let formData = new FormData();
                formData.append("image", blob, "webcam.jpg");

                fetch("/predict", {
                    method: "POST",
                    body: formData
                })
                .then(res => res.text())
                .then(data => {
                    document.getElementById("result").innerText = "Prediction: " + data;
                });

            }, "image/jpeg");

        }

    </script>

</body>

</html>
