<!DOCTYPE html>
<html>
<head>
    <title>Driver Drowsiness Detection</title>
</head>
<body style="text-align:center; font-family:Arial;">

    <h1>Driver Drowsiness Detection</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <br><br>
        <button type="submit">Predict</button>
    </form>

    {% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>
        <h3>Confidence: {{ confidence }}</h3>
    {% endif %}

</body>
</html>
